@use '../helpers' as *;

.about {
  &__info {
    display: flex;
    align-items: center;
    gap: clamp(30px, 5.2vw, 100px);
    padding: clamp(40px, 5.2vw, 100px) 150px;
    border-top: 1px solid var(--color-grey-15);
    border-bottom: 1px solid var(--color-grey-15);

    @include laptop {
      padding-inline: 100px;
    }

    @include mobile {
      padding-inline: 16px;
      flex-direction: column;
    }

    &-title {
      &:not(:last-child) {
        margin-bottom: 20px;

        @include laptop {
          margin-bottom: 16px;
        }
      }
    }

    &-description {
      @include fluid-text(20, 14);
    }

    &-image {
      border-radius: var(--border-radius-16);
      border: 1px solid var(--color-grey-15);

      @include laptop {
        @include square(40%);
      }

      @include mobile {
        @include square(60%);

        border-radius: var(--border-radius-12);
      }

      @include mobile-s {
        @include square(100%);
      }
    }
  }

  &__story {
    &-title {
      padding: 100px var(--padding-50);

      @include laptop {
        padding: 80px var(--padding-50);
      }

      @include mobile {
        padding: 40px 24px;
      }
    }
  }
}
