@use '../helpers' as *;

.about {
  &__info {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 100px 150px;
    border: 1px solid var(--color-grey-15);

    @include laptop {
      padding: 80px 100px;
    }

    @include tablet {
      padding: 60px 30px;
    }

    @include mobile {
      flex-direction: column;
      gap: 30px;
      padding: 40px 16px;
    }

    &-title {
      &:not(:last-child) {
        margin-bottom: 20px;

        @include laptop {
          margin-bottom: 16px;
        }
      }
    }

    &-description {
      @include fluid-text(20, 14);
    }

    &-image {
      border-radius: var(--border-radius-16);
      border: 1px solid var(--color-grey-15);

      @include laptop {
        @include square(40%);
      }

      @include mobile {
        @include square(60%);

        border-radius: var(--border-radius-12);
      }

      @include mobile-s {
        @include square(100%);
      }
    }
  }

  &__story {
    &-title {
      padding: 100px 50px;

      @include laptop {
        padding: 80px 50px;
      }

      @include mobile {
        padding: 40px 24px;
      }
    }
  }
}
