@use '../helpers' as *;

.advantages {
  &__card {
    height: 100%;
    padding: 100px var(--padding-50);
    outline: 1px solid var(--color-grey-15);

    @include laptop {
      padding: 80px 40px;
    }

    @include mobile {
      padding: 40px 24px;
    }

    &-title {
      @include fluid-text(40, 26);

      color: var(--color-green-80);
      padding-bottom: var(--padding-50);
      border-bottom: 1px solid var(--color-grey-15);
      margin-bottom: 50px;

      @include laptop {
        padding-bottom: 40px;
        margin-bottom: 30px;
      }

      @include mobile {
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
