@use '../helpers' as *;

.button {
  border-radius: 8px;
  font-weight: 500;
  padding: 16px 24px;
  white-space: nowrap;
  color: var(--color-white);

  @include laptop {
    padding: 14px 20px;
  }

  &--accent {
    background-color: var(--color-green-50);
    border: 1px solid var(--color-green-50);
    color: var(--color-grey-15);

    @include hover {
      background-color: var(--color-grey-10);
      color: var(--color-green-50);
    }
  }

  &--grey {
    padding: 18px 20px;
    background-color: var(--color-grey-15);

    @include hover {
      background-color: var(--color-grey-20);
    }

    @include laptop {
      padding: 14px 16px;
    }
  }
}
