@use '../helpers' as *;

.button {
  display: inline-flex;
  justify-content: center;
  background-color: var(--color-grey-15);
  border-radius: 8px;
  font-weight: 500;
  padding-block: 16px;

  &--accent {
    background-color: var(--color-green-50);
    color: var(--color-grey-15);
    min-width: 135px;

    @include hover {
      background-color: transparent;
      border: 1px solid var(--color-green-50);
      color: var(--color-green-50);
    }
  }
}
