@use '../helpers' as *;

.button {
  display: inline-flex;
  justify-content: center;
  background-color: var(--color-grey-15);
  border-radius: 8px;
  font-weight: 500;
  padding-block: 16px;
  white-space: nowrap;

  &--accent {
    background-color: var(--color-green-50);
    border: 1px solid var(--color-green-50);
    color: var(--color-grey-15);
    padding: 16px 24px;

    @include hover {
      background-color: var(--color-grey-10);
      color: var(--color-green-50);
    }

    @include laptop {
      padding: 12px 18px;
    }
  }
}
