@use '../helpers' as *;

.client-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 532px;
  padding: 100px 80px;
  outline: 1px solid var(--color-grey-15);

  @include laptop {
    min-height: 420px;
    padding: 80px 60px;
  }

  @include laptop-s {
    min-height: 356px;
    padding: 60px 40px;
  }

  @include tablet {
    min-height: 356px;
    padding: 40px 24px;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    @include laptop {
      margin-bottom: 20px;
    }
  }

  &__body {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @include laptop {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @include tablet {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(36, 36, 36, 0.2);
    border: 1px solid var(--color-grey-15);
    border-radius: 8px;

    &-image {
      @include laptop {
        @include square(50px);
      }

      @include mobile-s {
        @include square(40px);
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      margin: 0 10px 0px 18px;
    }

    &-name {
      @include fluid-text(20, 16);

      color: var(--color-white);
      font-weight: 500;
      font-style: normal;
    }

    &-company {
      white-space: nowrap;
    }

    &-link {
      margin-left: auto;

      @include mobile-s {
        display: none;
      }
    }
  }
}
