@use '../helpers' as *;

.footer {
  padding-block: 50px;
  border-top: 1px solid var(--color-grey-15);

  &__navigation {
    display: flex;
    align-items: center;
    column-gap: 109px;
    padding-bottom: 50px;

    @include laptop {
      column-gap: 68px;
    }

    @include laptop-s {
      flex-direction: column;
      row-gap: 35px;
    }
  }

  &__menu {
    margin-left: auto;
    @include laptop-s {
      margin-left: 0;
    }

    &-list {
      display: inline-flex;
      column-gap: 30px;
    }
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-grey-15);
    padding-top: 50px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    column-gap: 30px;

    &-link,
    &-address {
      display: flex;
      align-items: center;
      column-gap: 11px;
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--color-grey-15);

      &-icon {
        color: var(--color-green-50);
      }
    }
  }

  &__copyright {
    @include fluid-text(18, 16);

    color: var(--color-grey-60);
  }
}
