@use '../helpers' as *;

.footer {
  padding-block: var(--padding-50);
  border-top: 1px solid var(--color-grey-15);

  @include laptop {
    padding-block: 40px;
  }

  @include mobile {
    padding-block: 30px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    column-gap: 109px;
    padding-bottom: var(--padding-50);

    @include laptop {
      column-gap: 68px;
      padding-bottom: 40px;
    }

    @include laptop-s {
      flex-direction: column;
      justify-content: center;
      row-gap: 30px;
    }

    @include mobile-s {
      padding-bottom: 0px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__logo {
    &-image {
      @include laptop-s {
        max-width: 148px;
      }
    }
  }

  &__menu {
    margin-left: auto;

    @include laptop-s {
      margin-left: 0;
      padding-top: 30px;
      border-top: 1px solid var(--color-grey-15);
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;

      @include laptop {
        gap: 20px;
      }
    }

    &-link {
      @include hover {
        color: var(--color-green-50);
      }
    }
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-grey-15);
    padding-top: var(--padding-50);

    @include laptop {
      padding-top: 40px;
    }

    @include tablet {
      flex-direction: column;
      row-gap: 20px;
    }

    @include mobile-s {
      padding-top: 0;
      border-top: none;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @include laptop {
      column-gap: 22px;
    }

    @include tablet {
      width: 100%;
      flex-direction: column;
      row-gap: 20px;
    }

    &-link,
    &-address {
      display: inline-flex;
      align-items: center;
      column-gap: 10px;
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--color-grey-15);

      @include hover {
        border-bottom-color: var(--color-green-50);
      }

      @include tablet {
        justify-content: center;
        padding-bottom: 20px;
      }

      @include mobile-s {
        width: 100%;
      }

      &-icon {
        color: var(--color-green-50);
      }
    }
  }

  &__copyright {
    @include fluid-text(18, 16);

    color: var(--color-grey-60);
  }
}
