@use '../helpers' as *;

.grid {
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);

  @for $i from 2 through 12 {
    &--#{$i} {
      --gridColumns: #{$i};
    }
  }

  &--2 {
    @include mobile {
      --gridColumns: 1;
    }
  }

  &--3 {
    @include tablet {
      --gridColumns: 1;
    }
  }
}
