@use '../helpers' as *;

.header {
  min-height: var(--header-height);
  background-color: var(--color-grey-10);
  border-bottom: 1px solid var(--color-grey-15);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    column-gap: 40px;

    @include tablet {
      column-gap: 20px;
    }
  }

  &__overlay {
    transition-duration: var(--transition-duration);

    @include mobile-above {
      display: contents;
    }

    @include mobile {
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      z-index: 1;
      background-color: var(--color-grey-10);
    }

    &:not(.is-visible) {
      @include mobile {
        opacity: 0;
        visibility: hidden;
        translate: 100%;
      }
    }
  }

  &__menu {
    overflow-y: auto;

    &-list {
      @include mobile {
        display: flex;
        flex-direction: column;
      }
    }

    &-link {
      @include mobile {
        padding: 10px 28px;
        font-size: 28px;
      }
    }
  }

  &__contact-link {
    padding: 16px 24px;

    @include laptop {
      padding: 12px 18px;
    }

    @include mobile {
      padding: 16px 36px;
      font-size: 22px;
    }
  }
}
