@use '../helpers' as *;

.hero {
  @include flex-center();

  position: relative;
  background: url('../../assets/images/backgrounds/dotted-bg.webp') center /
    cover no-repeat;
  min-height: calc(100vh - var(--header-height));

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 448px;
    bottom: 0;
    left: 0;
    z-index: -2;
    background: url('../assets/images/abstract-mountain.webp') center / cover
      no-repeat;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 7px;
  }

  &__title {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @include laptop {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__info {
    @include fluid-text(22, 16);

    display: inline-block;
    border: 1px solid var(--color-grey-15);
    border-radius: var(--border-radius-12);
    padding: 24px 40px;
    color: var(--color-grey-60);

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    @include laptop {
      padding: 18px 30px;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    @include mobile {
      padding: 18px 20px;
      text-align: center;
    }

    &-accent {
      background-color: var(--color-grey-15);
      border-radius: var(--border-radius-8);
      padding: 12px 14px;
      color: var(--color-white);

      @include mobile {
        background-color: unset;
        border-radius: 0;
        padding: 0;
        color: inherit;
        text-align: center;
      }
    }
  }

  &__actions {
    display: flex;
    column-gap: 13px;
  }

  &__work-link {
    @include hover {
      background: var(--color-grey-alternate-2);
    }

    border: 1px solid var(--color-grey-20);
  }
}
