@use '../helpers' as *;

.link-button {
  color: var(--color-green-50);
  padding: 18px;
  border-radius: var(--border-radius-8);
  @include hover {
    background-color: var(--color-green-50);
    color: var(--color-grey-15);
  }

  @include laptop {
    padding: 16px;
    border-radius: var(--border-radius-6);
  }
}
