@use '../helpers' as *;

.nav-menu {
  @include mobile {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    column-gap: 2px;

    @include mobile {
      align-items: center;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding: 14px 28px;

    @include hover {
      color: var(--color-green-50);
    }

    @include laptop {
      padding: 12px 22px;
    }

    @include tablet {
      padding: 12px 16px;
    }

    @include mobile {
      padding: 10px 28px;
    }

    &.is-active {
      pointer-events: none;
      font-weight: 600;
      color: var(--color-white);
      background-color: var(--color-grey-15);
      border-radius: var(--border-radius-8);
    }
  }
}
