@use '../helpers' as *;

.number-list {
  counter-reset: custom-counter;
  list-style: none;

  &__item {
    counter-increment: custom-counter;
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    height: 100%;
    padding: 100px var(--padding-50);
    outline: 1px solid var(--color-grey-15);

    @include laptop {
      padding: 80px 40px;
      row-gap: 40px;
    }

    @include mobile {
      padding: 40px 24px;
      row-gap: 30px;
    }

    &-header {
      display: flex;
      align-items: center;
      column-gap: 14px;
      height: 125px;

      &::before {
        @include fluid-text(150, 80);

        content: counter(custom-counter, decimal-leading-zero);
        font-weight: 600;
        color: var(--color-green-80);
      }

      @include laptop {
        height: 84px;
      }

      @include mobile {
        height: 65px;
      }
    }

    &-title {
      position: relative;
      top: 20px;
      width: 100%;
      padding-bottom: 26px;
      border-bottom: 1px solid var(--color-grey-15);

      @include laptop {
        padding-bottom: 20px;
      }

      @include tablet {
        top: 10px;
      }

      @include mobile {
        padding-bottom: 14px;
      }

      &--grey {
        color: var(--color-grey-60);
      }

      &--green {
        color: var(--color-green-80);
      }

      &--medium {
        @include fluid-text(38, 22);

        font-weight: 700;
      }
    }
  }
}
