@use '../helpers' as *;

.opening-card {
  display: flex;
  flex-direction: column;
  padding: var(--padding-50);
  min-height: 350px;
  height: 100%;
  outline: 1px solid var(--color-grey-15);

  @include laptop {
    padding: 40px;
    min-height: 510px;
  }

  @include tablet {
    min-height: 310px;
    padding: 30px;
  }

  &__image {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @include laptop {
      @include square(70px);

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    @include mobile-s {
      @include square(58px);
    }
  }

  &__title {
    @include fluid-text(24, 20);

    margin-bottom: 20px;

    @include laptop {
      margin-bottom: 14px;
    }
  }

  &__description {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__link {
    @include flex-center();

    margin-top: auto;
  }
}
