.process {
  &__list {
    counter-reset: custom-counter;
    list-style: none;
  }

  &__item {
    counter-increment: custom-counter;
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 100px var(--padding-50);

&__header {

}

    &-title {
      color: var(--color-grey-60);
      padding-bottom: 26px;
      border-bottom: 1px solid var(--color-grey-15);

      &::before {
        content: counter(custom-counter, decimal-leading-zero);

        font-size: 5em;
        color: var(--color-green-80);
      }
    }
  }
}
