@use '../helpers' as *;

.process {
  &__list {
    counter-reset: custom-counter;
    list-style: none;
  }

  &__item {
    counter-increment: custom-counter;
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 100px var(--padding-50);
    outline: 1px solid var(--color-grey-15);

    @include laptop {
      padding: 80px 40px;
    }

    @include mobile {
      padding: 40px 24px;
    }

    &-header {
      display: flex;
      align-items: center;
      column-gap: 14px;
      height: 125px;

      &::before {
        @include fluid-text(150, 80);
        
        content: counter(custom-counter, decimal-leading-zero);
        font-weight: 600;
        color: var(--color-green-80);
      }
    }

    &-title,
    &-description {
      color: var(--color-grey-60);
    }

    &-title {
      width: 100%;
      position: relative;
      top: 20%;
      padding-bottom: 26px;
      border-bottom: 1px solid var(--color-grey-15);
    }

  }
}
