@use '../helpers' as *;

.questions {
  &__body {
    position: relative;
    border-top: 1px solid var(--color-grey-15);
    border-bottom: 1px solid var(--color-grey-15);
    padding-block: 80px;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: 1px;
      height: 100%;
      background-color: var(--color-grey-15);

      @include tablet {
        display: none;
      }
    }

    @include laptop {
      padding-block: 60px;
    }

    @include tablet {
      padding-block: 0;
    }
  }

  &__list {
    counter-reset: custom-counter;
    list-style: none;
    column-count: 2;
    column-gap: 0;

    @include tablet {
      column-count: 1;
    }
  }

  &__item {
    counter-increment: custom-counter;
    break-inside: avoid;
    page-break-inside: avoid;

    &:nth-child(n + 5) {
      @include mobile-s {
        display: none;
      }
    }
  }

  &__card {
    min-height: 140px;
    outline: 1px solid var(--color-grey-15);
    padding: 34px 50px;

    @include laptop {
      padding: 30px 40px;
    }

    @include mobile {
      padding: 30px 24px;
    }

    &-body {
      display: flex;
      align-items: flex-start;
      column-gap: 30px;

      @include mobile {
        column-gap: 20px;
      }
    }

    &:has(.questions__accordion[open]) {
      .questions__counter::before {
        color: var(--color-green-70);
      }
    }
  }

  &__counter {
    --offsetCounter: 20px;
    margin-top: var(--offsetCounter);

    &::before {
      @include fluid-text(28, 20);
      @include square(80px);

      content: counter(custom-counter, decimal-leading-zero);
      background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
      padding: var(--offsetCounter);
      border-radius: var(--border-radius-12);

      @include laptop {
        @include square(62px);
      }

      @include mobile {
        @include square(52px);
      }
    }
  }

  &__accordion {
    width: 100%;

    &-content {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.3s ease-in-out;

      &-body {
        overflow: hidden;
      }
    }

    &[open] {
      .questions__accordion {
        &-title {
          color: var(--color-green-70);
        }

        &-indicator {
          color: var(--color-green-70);

          &-image {
            rotate: 45deg;
            transition-duration: 0.3s;
          }
        }
      }

      & + .questions__accordion-content {
        grid-template-rows: 1fr;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      column-gap: 32px;
      cursor: pointer;
      list-style: none;
      min-height: 80px;

      &::-webkit-details-marker {
        display: none;
      }

      @include laptop {
        column-gap: 20px;
      }
    }

    &-indicator {
      @include flex-center;

      margin-left: auto;
      flex-shrink: 0;

      &-image {
        transition: rotate 0.3s ease-in-out;

        @include laptop {
          @include square(15.6px);
        }
      }
    }
  }
}
