@use '../helpers' as *;

.questions {
  &__inner {
    padding: 60px 0px;
    position: relative;
    border-top: 1px solid var(--color-grey-15);
    border-bottom: 1px solid var(--color-grey-15);
  }

  &__list {
    counter-reset: custom-counter;
    list-style: none;
  }

  &__item {
    counter-increment: custom-counter;
  }

  &__accordion {
    border: 1px solid var(--color-grey-15);
    cursor: pointer;
    padding: 34px 50px;
    max-width: 798px;

    @include laptop {
      padding: 30px 40px;
    }

    @include mobile {
      padding: 30px 24px;
    }

    &[open] {
      .questions__accordion-title {
        color: var(--color-green-70);
      }
      .questions__accordion-indicator {
        color: var(--color-green-70);
        &-image {
          rotate: 45deg;
          transition-duration: 0.4s;
        }
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-title {
      display: flex;
      align-items: center;
      column-gap: 30px;

      &::before {
        @include flex-center();
        @include fluid-text(28, 20);
        @include square(80px);

        content: counter(custom-counter, decimal-leading-zero);
        font-weight: 600;
        background: linear-gradient(
          180deg,
          #242424 0%,
          rgba(36, 36, 36, 0) 100%
        );
        padding: 20px;
        border-radius: var(--border-radius-12);
      }
    }

    &-body {
      max-width: 588px;
      margin-left: auto;
    }

    &-indicator {
      display: flex;
      align-items: center;
    }
  }
}
