@use '../helpers' as *;

.range {
  padding: 40px 40px 50px;

  @include laptop {
    padding: 30px 30px 50px;
  }

  @include mobile {
    padding: 24px 24px 50px;
  }

  &__label {
    display: block;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    @include mobile-s {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @include laptop {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    @include mobile-s {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &__container {
    --range-track-top: 0px; // ИЗМЕНИЛ - теперь отсчет от контейнера
    --range-progress-w: calc(
      ((var(--value-2) - var(--value-1)) / (12000 - 500)) * 100%
    );
    --range-progress-left: calc(
      ((var(--value-1) - 500) / (12000 - 500)) * 100%
    );

    position: relative;
    display: grid;
    width: 100%; // ИЗМЕНИЛ - адаптивная ширина
    max-width: 820px; // Добавил максимальную ширину
    height: 40px; // Добавил фиксированную высоту для контейнера
  }

  &__track {
    position: absolute;
    top: var(--range-track-top);
    width: 100%;
    height: 4px;
    background-color: #333333;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);

    @include laptop {
      height: 2px;
    }
  }

  &__progress {
    position: absolute;
    top: var(--range-track-top);
    left: var(--range-progress-left);
    width: var(--range-progress-w);
    height: 4px;
    border-radius: 10px;
    background-color: #9eff00;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);

    @include laptop {
      height: 2px;
    }
  }

  &__thumbs {
    display: grid;
    position: relative;
    height: 100%;
  }

  &__input {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1;
    border-radius: 10px;
    appearance: none;
    background: none;
    pointer-events: none;
    position: relative;
    z-index: 3;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      border: none;
      border-radius: 50%;
      background-color: #9eff00;
      box-shadow: 0 0 0 8px #4c4c4d;
      transition: 300ms;
      pointer-events: auto;
      cursor: pointer;
      position: relative;
      z-index: 4;
    }

    &::-moz-range-thumb {
      width: 16px;
      height: 16px;
      border: none;
      border-radius: 50%;
      background-color: #9eff00;
      box-shadow: 0 0 0 8px #4c4c4d;
      transition: 300ms;
      pointer-events: auto;
      cursor: pointer;
      position: relative;
      z-index: 4;
    }

    &::-webkit-slider-runnable-track {
      background: transparent;
      height: 4px;
      margin-top: -13px;
    }

    &::-moz-range-track {
      background: transparent;
      height: 4px;
      border: none;
    }

    &:hover::-webkit-slider-thumb,
    &:focus-visible::-webkit-slider-thumb {
      box-shadow: 0 0 0 8px #9eff00;
    }

    &:hover::-moz-range-thumb,
    &:focus-visible::-moz-range-thumb {
      box-shadow: 0 0 0 8px #9eff00;
    }

    &:active::-webkit-slider-thumb {
      box-shadow: 0 0 0 8px #9eff00;
    }

    &:active::-moz-range-thumb {
      box-shadow: 0 0 0 8px #9eff00;
    }

    &:disabled::-webkit-slider-thumb {
      box-shadow: 0 0 0 8px gray;
    }

    &:disabled::-moz-range-thumb {
      box-shadow: 0 0 0 8px gray;
    }

    &:focus-visible {
      outline-offset: 7px;
      outline: 1px solid #9eff00;
    }

    &:focus-visible::-webkit-slider-thumb {
      outline: 3px solid #9eff00;
    }

    &:focus-visible::-moz-range-thumb {
      outline: 3px solid #9eff00;
    }
  }

  &__output {
    @include fluid-text(16, 14);

    --range-output-left: calc(((var(--value) - 500) / (12000 - 500)) * 100%);
    --range-output-offset-xy: -50%, 0;
    --range-output-margin: 0;

    position: absolute;
    top: 30px;
    left: var(--range-output-left);
    margin-left: var(--range-output-margin);
    display: grid;
    min-width: fit-content;
    padding: 2px 8px;
    place-items: center;
    background: transparent;
    border-radius: 10px;
    text-align: center;
    transform: translate(var(--range-output-offset-xy));
    user-select: none;
    transition: 225ms;
    white-space: nowrap;
    font-weight: 500;
    min-width: 80px;
    z-index: 5;
    margin-top: 10px; // Отступ от ползунка
  }
}
