@use '../helpers' as *;

.section {
  &__header {
    &--services {
      background: url('../../assets/images/backgrounds/bg-1.webp') center /
        cover no-repeat;
    }

    &--choose {
      background: url('../../assets/images/backgrounds/bg-2.webp') center /
        cover no-repeat;
    }

    &--clients {
      background: url('../../assets/images/backgrounds/bg-3.webp') center /
        cover no-repeat;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 120px 50px;

      @include laptop {
        padding: 100px 50px;
      }

      @include tablet {
        padding: 50px 16px;
      }
    }

    &-title,
    &-description {
      text-align: center;
    }
  }
}
