@use '../helpers' as *;

.section {
  &__header {
    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
      padding: 120px 50px;

      @include laptop {
        padding: 100px 50px;
      }

      @include tablet {
        padding: 50px 16px;
      }

      @include mobile {
        row-gap: 6px;
      }
    }

    &-title,
    &-description {
      text-align: center;
    }
  }
}
