@use '../helpers' as *;

.section {
  &__header {
    padding: 120px 50px;

    @include laptop {
      padding: 100px 50px;
      row-gap: 10px;
    }

    @include tablet {
      padding: 50px 16px;
    }

    &--services {
      background: url('../../assets/images/backgrounds/bg-1.webp') center /
        cover no-repeat;
    }

    &--choose {
      background: url('../../assets/images/backgrounds/bg-2.webp') center /
        cover no-repeat;
    }

    &--clients {
      background: url('../../assets/images/backgrounds/bg-3.webp') center /
        cover no-repeat;
    }

    &--questions {
      background: url('../../assets/images/backgrounds/bg-4.webp') center /
        cover no-repeat;
    }

    &--contact-us {
      background: url('../../assets/images/backgrounds/bg-5.webp') center /
        cover no-repeat;
    }

    &-inner {
      @include flex-center();

      flex-direction: column;
      max-width: 996px;
      margin-inline: auto;
      row-gap: 14px;

      @include mobile {
        row-gap: 6px;
      }
    }

    &-title,
    &-description {
      text-align: center;
    }
  }
}
