@use '../helpers' as *;

.section {
  &__header,
  &__banner {
    padding: 120px 50px;

    @include laptop {
      padding: 100px 50px;
      row-gap: 10px;
    }

    @include tablet {
      padding: 50px 16px;
    }
  }

  &__header {
    background: url('../../assets/images/backgrounds/bg-3.webp') center / cover
      no-repeat;

    &--services {
      background: url('../../assets/images/backgrounds/bg-1.webp') center /
        cover no-repeat;
    }

    &--choose {
      background: url('../../assets/images/backgrounds/bg-2.webp') center /
        cover no-repeat;
    }

    &--questions {
      background: url('../../assets/images/backgrounds/bg-4.webp') center /
        cover no-repeat;
    }

    &-inner {
      @include flex-center();

      flex-direction: column;
      max-width: 996px;
      margin-inline: auto;
      row-gap: 14px;

      @include laptop {
        row-gap: 10px;
      }

      @include mobile {
        row-gap: 6px;
      }
    }

    &-title,
    &-description {
      text-align: center;
    }
  }

  &__top {
    outline: 1px solid var(--color-grey-15);
    padding: 120px 50px 50px;

    @include laptop {
      padding: 80px 40px 40px;
    }

    @include mobile {
      padding: 40px 16px;
    }

    &-body {
      max-width: 1196px;
    }

    &-title {
      &:not(:last-child) {
        margin-bottom: 14px;

        @include laptop {
          margin-bottom: 10px;
        }

        @include mobile-s {
          margin-bottom: 6px;
        }
      }
    }

    &-description {
      &:not(:last-child) {
        margin-bottom: 50px;

        @include laptop {
          margin-bottom: 40px;
        }

        @include mobile-s {
          margin-bottom: 30px;
        }
      }
    }

    &-label {
      @include fluid-text(22, 16);
    }
  }

  &__list {
    counter-reset: custom-counter;
    list-style: none;
  }

  &__item {
    counter-increment: custom-counter;
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    height: 100%;
    padding: 100px var(--padding-50);
    outline: 1px solid var(--color-grey-15);

    @include laptop {
      padding: 80px 40px;
      row-gap: 40px;
    }

    @include mobile {
      padding: 40px 24px;
      row-gap: 30px;
    }

    &-header {
      display: flex;
      align-items: center;
      column-gap: 14px;
      height: 125px;

      &::before {
        @include fluid-text(150, 80);

        content: counter(custom-counter, decimal-leading-zero);
        font-weight: 600;
        color: var(--color-green-80);
      }

      @include mobile {
        height: 70px;
      }
    }

    &-title {
      width: 100%;
      position: relative;
      top: 20px;
      padding-bottom: 26px;
      border-bottom: 1px solid var(--color-grey-15);

      @include laptop {
        padding-bottom: 20px;
      }

      @include tablet {
        top: 0;
      }

      @include mobile {
        padding-bottom: 14px;
      }

      &--grey,
      &-description {
        color: var(--color-grey-60);
      }

      &--green {
        color: var(--color-green-80);
      }
    }
  }

  &__description {
    font-family: var(--font-family-accent);
  }

  &__banner {
    &--bg {
      background: url('../../assets/images/backgrounds/bg-3.webp') center /
        cover no-repeat;
    }

    &-inner {
      @include flex-center();

      flex-direction: column;
      max-width: 895px;
      margin-inline: auto;
      row-gap: 50px;

      @include laptop {
        row-gap: 40px;
      }

      @include mobile {
        row-gap: 28px;
      }
    }

    &-body {
      row-gap: 14px;

      @include laptop {
        row-gap: 10px;
      }

      @include mobile {
        row-gap: 6px;
      }
    }

    &-title,
    &-description {
      text-align: center;
    }

    &-title {
      @include fluid-text(38, 24);
    }

    &-link {
      padding-inline: 34px;

      @include laptop {
        padding-inline: 24px;
      }
    }
  }
}
