@use '../helpers' as *;

.section {
  &__header {
    &-inner {
      @include flex-center();

      flex-direction: column;
      row-gap: 14px;
      padding: 120px 50px;

      @include laptop {
        padding: 100px 50px;
        row-gap: 10px;
      }

      @include tablet {
        padding: 50px 16px;
      }

      @include mobile {
        row-gap: 6px;
      }
    }

    &-title,
    &-description {
      text-align: center;
    }
  }
}
