@use '../helpers' as *;

.section {
  &__header,
  &__banner {
    padding: 120px 50px;

    @include laptop {
      padding: 100px 50px;
      row-gap: 10px;
    }

    @include tablet {
      padding: 50px 16px;
    }
  }

  &__header {
    background: url('../../assets/images/backgrounds/bg-3.webp') center / cover
      no-repeat;

    &--services {
      background: url('../../assets/images/backgrounds/bg-1.webp') center /
        cover no-repeat;
    }

    &--choose {
      background: url('../../assets/images/backgrounds/bg-2.webp') center /
        cover no-repeat;
    }

    &--questions {
      background: url('../../assets/images/backgrounds/bg-4.webp') center /
        cover no-repeat;
    }

    &-inner {
      @include flex-center();

      flex-direction: column;
      max-width: 996px;
      margin-inline: auto;
      row-gap: 14px;

      @include laptop {
        row-gap: 10px;
      }

      @include mobile {
        row-gap: 6px;
      }
    }

    &-title,
    &-description {
      text-align: center;
    }
  }

  &__top {
    outline: 1px solid var(--color-grey-15);
    padding: 120px 50px 50px;

    @include laptop {
      padding: 80px 40px 40px;
    }

    @include mobile {
      padding: 40px 16px;
    }

    &-body {
      max-width: 1196px;
    }

    &-title {
      &:not(:last-child) {
        margin-bottom: 14px;

        @include laptop {
          margin-bottom: 10px;
        }

        @include mobile-s {
          margin-bottom: 6px;
        }
      }
    }

    &-description {
      &:not(:last-child) {
        margin-bottom: 50px;

        @include laptop {
          margin-bottom: 40px;
        }

        @include mobile-s {
          margin-bottom: 30px;
        }
      }
    }

    &-label {
      @include fluid-text(22, 16);

      padding: 12px 14px;
      color: var(--color-white);
      border-radius: var(--border-radius-8);

      @include laptop {
        padding: 10px;
      }

      @include mobile-s {
        font-size: 14px;
      }
    }
  }

  &__description {
    font-family: var(--font-family-accent);
  }

  &__banner {
    &--bg {
      background: url('../../assets/images/backgrounds/bg-3.webp') center /
        cover no-repeat;
    }

    &-inner {
      @include flex-center();

      flex-direction: column;
      max-width: 895px;
      margin-inline: auto;
      row-gap: 50px;

      @include laptop {
        row-gap: 40px;
      }

      @include mobile {
        row-gap: 28px;
      }
    }

    &-body {
      row-gap: 14px;

      @include laptop {
        row-gap: 10px;
      }

      @include mobile {
        row-gap: 6px;
      }
    }

    &-title,
    &-description {
      text-align: center;
    }

    &-title {
      @include fluid-text(38, 24);
    }

    &-link {
      padding-inline: 34px;

      @include laptop {
        padding-inline: 24px;
      }
    }
  }
}
