@use '../helpers' as *;

.services {
  &-subcategory {
    &__card {
      display: flex;
      flex-direction: column;
      height: 100%;
      row-gap: 30px;
      padding: var(--padding-50);
      outline: 1px solid var(--color-grey-15);

      @include laptop {
        row-gap: 24px;
        padding: 40px;
      }

      @include mobile {
        row-gap: 20px;
        padding: 20px;
      }

      &-image {
        @include laptop {
          @include square(64px);
        }

        @include mobile {
          @include square(56px);
        }
      }

      &-label {
        @include fluid-text(20, 16);

        font-weight: 500;
      }
    }
  }
}
