@use '../helpers' as *;

.welcome {
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 80px;

    @include laptop {
      row-gap: 40px;
      padding: 60px;
    }

    @include mobile {
      row-gap: 30px;
      padding: 40px 24px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 40px;

    @include laptop {
      gap: 30px;
    }

    @include tablet {
      flex-direction: column;
      gap: 24px;
    }

    &-image {
      @include laptop {
        @include square(100px);
      }

      @include mobile {
        @include square(80px);
      }
    }

    &-title,
    &-description {
      color: var(--color-grey-60);

      @include tablet {
        text-align: center;
      }
    }

    &-title {
      &:not(:last-child) {
        margin-bottom: 20px;

        @include laptop {
          margin-bottom: 14px;

          @include mobile {
            margin-bottom: 10px;
          }
        }
      }
    }

    &-description {
      font-family: var(--font-family-accent);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    background-color: var(--color-grey-alternate);
    border: 1px solid var(--color-grey-15);
    border-radius: var(--border-radius-12);
    padding: 25px 40px;

    @include laptop {
      padding: 20px 30px;
      column-gap: 14px;
      border-radius: var(--border-radius-10);
    }

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      padding: 20px;
    }

    &-text {
      @include fluid-text(20, 18);

      color: var(--color-grey-60);
      white-space: nowrap;

      @include tablet {
        &:not(:last-child) {
          margin-bottom: 14px;
        }
      }
    }

    &-puddle-text {
      @include fluid-text(20, 16);

      padding: 14px 20px;

      @include tablet {
        text-align: center;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    &-button {
      @include mobile-s {
        width: 100%;
      }
    }
  }
}
