// .works {
//   &__item {
//     &:nth-child(7) {
//       .work-card__top {
//         flex-direction: column;
//         align-items: start;
//         row-gap: 15px;

//         &-info {
//           order: 1;
//         }

//         &-link {
//           order: 0;
//         }
//       }
//     }
//   }
// }
