@use '../../helpers' as *;

.checkbox {
  display: flex;
  align-items: center;
  column-gap: 10px;

  &__input {
    @include square(28px);

    appearance: none;
    position: relative;
    background: var(--color-grey-15);
    accent-color: var(--color-grey-15);
    border: 1px solid var(--color-grey-20);
    border-radius: 4px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 30%;
      left: 30%;
      width: 0px;
      height: 0px;
      background-image: url('../assets/icons/checked.svg');
      background-repeat: no-repeat;
    }

    &:checked::after {
      @include square(28px);
    }
  }

  &__label {
    @include fluid-text(18, 16);
  }
}
