@use '../../helpers' as *;

.checkboxes {
  padding: 40px;

  @include laptop {
    padding: 30px;
  }

  &__label {
    &:not(:last-child) {
      margin-bottom: 36px;
    }

    @include laptop {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 20px;

    @include mobile {
      &:not(:last-child) {
        row-gap: 20px;
        column-gap: 0px;
      }
    }

    @include mobile-s {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
