@use '../../helpers' as *;

.contact {
  &__contacts {
    &-wrapper {
      @include flex-center();

      padding: 50px 24px;
      gap: 30px;

      @include laptop {
        padding-block: 40px;
        gap: 20px;
      }

      @include mobile {
        padding-block: 30px;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      column-gap: 14px;
      padding: 18px 25px;

      &-icon {
        @include flex-center(true);

        color: var(--color-green-50);
      }
    }
  }

  &__form {
    border-top: 1px solid var(--color-grey-15);
    border-bottom: 1px solid var(--color-grey-15);
  }
}
