@use '../../helpers' as *;

.contact {
  outline: 1px solid var(--color-grey-15);
  &__contacts {
    outline: 1px solid var(--color-grey-15);
    &-wrapper {
      @include flex-center();

      padding: 50px 24px;
      gap: 30px;

      @include laptop {
        padding-block: 40px;
        gap: 20px;
      }

      @include mobile {
        flex-direction: column;
        padding-block: 30px;
      }
    }

    &-link,
    &-address {
      @include flex-center();

      column-gap: 14px;
      padding: 18px 25px;
      @include hover {
        background-color: var(--color-grey-20);
      }

      @include laptop {
        padding: 14px 20px;
      }

      @include mobile {
        padding-block: 18px;
        width: 100%;
      }

      &-icon {
        @include flex-center(true);

        color: var(--color-green-50);
      }
    }
  }

  &__form {
    border-top: 1px solid var(--color-grey-15);
    border-bottom: 1px solid var(--color-grey-15);
  }

  &__footer {
    @include flex-center();

    @include tablet {
      flex-direction: column;
    }

    &-item {
      padding: 36px 80px;

      @include tablet {
        padding: 26px 50px;
      }

      @include mobile {
        padding-block: 20px;
      }

      &:last-child {
        border-left: 1px solid var(--color-grey-15);

        @include tablet {
          border-left: none;
          width: 100%;
          border-top: 1px solid var(--color-grey-15);
        }
      }
    }

    &-soc1als {
      @include flex-center();

      @include tablet {
        padding-block: 20px 40px;
      }
    }
  }

  &__days {
    display: flex;
    align-items: center;
    column-gap: 14px;

    &-text {
      white-space: nowrap;
    }
  }

  &__soc1als {
    @include tablet {
      border: none;
      padding: 0;
    }
  }
}
