@use '../../helpers' as *;

.range {
  padding: 40px 40px 50px;

  @include laptop {
    padding: 30px 30px 50px;
  }

  @include mobile {
    padding: 24px 24px 50px;
  }

  &__label {
    display: block;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    @include mobile-s {
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @include laptop {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    @include mobile-s {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &__container {
    --range-track-top: 13px;
    --range-progress-w: calc(
      ((var(--value-2) - var(--value-1)) / (12000 - 500)) * 100%
    );
    --range-progress-left: calc(
      ((var(--value-1) - 500) / (12000 - 500)) * 100%
    );

    position: relative;
    display: grid;
    max-width: 820px;
    z-index: 10;

    @include laptop {
      --range-track-top: 14px;
    }
  }

  &__track {
    position: absolute;
    top: var(--range-track-top);
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: #333333;
    z-index: -1;

    @include laptop {
      height: 2px;
    }
  }

  &__progress {
    position: absolute;
    top: var(--range-track-top);
    left: var(--range-progress-left);
    width: var(--range-progress-w);
    height: 4px;
    border-radius: 10px;
    background-color: var(--color-green-50);
    z-index: -1;

    @include laptop {
      height: 2px;
    }
  }

  &__thumbs {
    display: grid;
  }

  &__input {
    width: 100%;
    height: 30px;
    grid-area: 1 / 1;
    border-radius: 10px;
    appearance: none;
    background: none;
    pointer-events: none;

    &::-webkit-slider-thumb {
      @include square(16px);

      -webkit-appearance: none;
      border: none;
      border-radius: 50%;
      background-color: var(--color-green-50);
      box-shadow: 0 0 0 8px #4c4c4d;
      transition: 300ms;
      pointer-events: auto;
      cursor: pointer;

      @include laptop {
        box-shadow: 0 0 0 5px #4c4c4d;
      }

      @include mobile {
        @include square(12px);
      }
    }

    &::-moz-range-thumb {
      @include square(16px);

      border: none;
      border-radius: 50%;
      background-color: var(--color-green-50);
      box-shadow: 0 0 0 8px #4c4c4d;
      transition: 300ms;
      pointer-events: auto;
      cursor: pointer;

      @include laptop {
        box-shadow: 0 0 0 5px #4c4c4d;
      }

      @include mobile {
        @include square(12px);
      }
    }

    &::-webkit-slider-runnable-track {
      background: transparent;
      height: 4px;
      margin-top: -13px;
    }

    &::-moz-range-track {
      background: transparent;
      height: 4px;
      border: none;
    }

    &:hover::-webkit-slider-thumb,
    &:focus-visible::-webkit-slider-thumb {
      box-shadow: 0 0 0 8px var(--color-green-50);
    }

    &:hover::-moz-range-thumb,
    &:focus-visible::-moz-range-thumb {
      box-shadow: 0 0 0 8px var(--color-green-50);
    }

    &:active::-webkit-slider-thumb {
      box-shadow: 0 0 0 8px var(--color-green-50);
    }

    &:active::-moz-range-thumb {
      box-shadow: 0 0 0 8px var(--color-green-50);
    }

    &:disabled::-webkit-slider-thumb {
      box-shadow: 0 0 0 8px gray;
    }

    &:disabled::-moz-range-thumb {
      box-shadow: 0 0 0 8px gray;
    }

    &:focus-visible {
      outline-offset: 7px;
      outline: 1px solid var(--color-green-50);
    }

    &:focus-visible::-webkit-slider-thumb {
      outline: 3px solid var(--color-green-50);
    }

    &:focus-visible::-moz-range-thumb {
      outline: 3px solid var(--color-green-50);
    }
  }

  &__output {
    @include fluid-text(16, 14);

    --range-output-left: calc(((var(--value) - 500) / (12000 - 500)) * 100%);
    --range-output-offset-xy: -50%, 0;
    --range-output-margin: 0;

    position: absolute;
    top: 40px;
    left: var(--range-output-left);
    margin-left: var(--range-output-margin);
    display: grid;
    min-width: fit-content;
    padding: 0 4px;
    place-items: center;
    background: transparent;
    border-radius: 10px;
    text-align: end;
    transform: translate(var(--range-output-offset-xy));
    user-select: none;
    white-space: nowrap;
    font-weight: 500;

    @include mobile {
      top: 35px;
    }
  }
}
