@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.01em;
  color: var(--color-grey-90);
  background: var(--color-grey-10);
}

.content {
  flex-grow: 1;
  &-main {
    outline: 1px solid var(--color-grey-15);
  }
}

a {
  color: inherit;
  font-weight: 500;

  &[class] {
    text-decoration: none;
  }
}

button {
  border: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  color: var(--color-white);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 500;
}

h1,
.h1 {
  @include fluid-text(68, 34);
  line-height: 1.3;
}

h2,
.h2 {
  @include fluid-text(48, 28);
}

h3,
.h3 {
  @include fluid-text(30, 20);
}

h4,
.h4 {
  @include fluid-text(28, 18);
  color: var(--color-green-80);
}

h5,
.h5 {
  @include fluid-text(26, 20);
}

h6,
.h6 {
  @include fluid-text(22, 16);

  color: var(--color-white);
}
