@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.bg {
  &--glass {
    backdrop-filter: blur(12px);
    background: var(--color-grey-alternate);
  }

  &--dark {
    background: var(--color-grey-15);
    padding: 12px 14px;
    color: var(--color-white);
    border-radius: var(--border-radius-8);

    @include laptop {
      padding: 10px;
    }

    @include mobile-s {
      font-size: 14px;
    }
  }
}
