@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.bg {
  &--glass {
    backdrop-filter: blur(12px);
    background: rgba(36, 36, 36, 0.2);
  }

  &--dark {
    background: var(--color-grey-15);
  }
}
