:root {
  --color-white: #ffffff;
  --color-white-alternate: #fdfffa;

  --color-grey-90: #e6e6e6;
  --color-grey-60: #98989a;
  --color-grey-20: #333333;
  --color-grey-15: #262626;
  --color-grey-10: #191919;

  --color-green-80: #d8ff99;
  --color-green-70: #c5ff66;
  --color-green-50: #9eff00;

  --font-family-base: 'Barlow', sans-serif;
  --font-family-accent: 'Inter', sans-serif;

  --button-height: 60px;
  --button-padding-inline: 28px;

  --padding-50: 50px;

  --border-radius-12: 12px;
  --border-radius-10: 10px;
  --border-radius-8: 8px;
  --border-radius-6: 6px;
  --border-radius-4: 4px;

  --container-width: 1596px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
