@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/grid';
@use 'blocks/button';
@use 'blocks/soc1als';
@use 'blocks/link-button';
@use 'blocks/bg-color';
@use 'blocks/section';
@use 'blocks/burger-button';
@use 'blocks/logo';
@use 'blocks/header';
@use 'blocks/nav-menu';
@use 'blocks/service-card';
@use 'blocks/choose-card';
@use 'blocks/client-card';
@use 'blocks/work-card';
@use 'blocks/opening-card';
@use 'blocks/number-list';
@use 'blocks/contact-us-form/contact-form';
@use 'blocks/contact-us-form/fields';
@use 'blocks/contact-us-form/field';
@use 'blocks/contact-us-form/checkboxes';
@use 'blocks/contact-us-form/checkbox';
@use 'blocks/contact-us-form/range';
@use 'blocks/hero';
@use 'blocks/companies';
@use 'blocks/questions';
@use 'blocks/contact-us-form/contact-us';
@use 'blocks/services';
@use 'blocks/works';
@use 'blocks/about';
@use 'blocks/advantages';
@use 'blocks/welcome';
@use 'blocks/footer';
