@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/button';
@use 'blocks/burger-button';
@use 'blocks/logo';
@use 'blocks/header';
@use 'blocks/nav-menu';
@use 'blocks/content';
@use 'blocks/hero';
@use 'blocks/companies';
