@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: 0.2s;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #ffffff;
  --color-white-alternate: #FDFFFA;
  --color-grey-90: #e6e6e6;
  --color-grey-60: #98989a;
  --color-grey-20: #333333;
  --color-grey-15: #262626;
  --color-grey-10: #191919;
  --color-green-80: #d8ff99;
  --color-green-70: #c5ff66;
  --color-green-50: #9eff00;
  --font-family-base: "Barlow", sans-serif;
  --button-height: 60px;
  --button-padding-inline: 28px;
  --border-radius-12: 100px;
  --border-radius-12: 12px;
  --border-radius-8: 8px;
  --border-radius-6: 6px;
  --container-width: 1596px;
  --container-padding-x: 16px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 767.98px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 767.98px) {
  .visible-mobile {
    display: none !important;
  }
}

.glass-bg {
  backdrop-filter: blur(12px);
  background: rgba(36, 36, 36, 0.2);
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(14px, 1.1278195489vw, 18px);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.01em;
  color: var(--color-grey-90);
  background: var(--color-grey-10);
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  font-weight: 500;
}
a[class] {
  text-decoration: none;
}

button {
  border: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h5, .h5,
h6, .h6 {
  font-weight: 600;
  color: var(--color-white);
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(34px, 4.2606516291vw, 68px);
  line-height: 1.3;
}

h2, .h2 {
  font-size: clamp(28px, 3.007518797vw, 48px);
}

h3, .h3 {
  font-size: clamp(20px, 1.8796992481vw, 30px);
}

h4, .h4 {
  font-size: clamp(18px, 1.7543859649vw, 28px);
  color: var(--color-green-80);
}

h5, .h5 {
  font-size: clamp(20px, 1.6290726817vw, 26px);
}

h6, .h6 {
  font-size: clamp(16px, 1.3784461153vw, 22px);
  color: var(--color-white);
}

:focus-visible {
  outline: 2px dashed var(--color-white);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (width <= 1023.98px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (width <= 1023.98px) {
  .grid--3 {
    --gridColumns: 1;
  }
}

.button {
  border-radius: 8px;
  font-weight: 500;
  padding: 16px 24px;
  white-space: nowrap;
  color: var(--color-white);
}
@media (width <= 1440.98px) {
  .button {
    padding: 14px 20px;
  }
}
.button--accent {
  background-color: var(--color-green-50);
  border: 1px solid var(--color-green-50);
  color: var(--color-grey-15);
}
@media (hover: hover) {
  .button--accent:hover {
    background-color: var(--color-grey-10);
    color: var(--color-green-50);
  }
}
@media (hover: none) {
  .button--accent:active {
    background-color: var(--color-grey-10);
    color: var(--color-green-50);
  }
}
.button--grey {
  padding: 18px 20px;
  background-color: var(--color-grey-15);
}
@media (hover: hover) {
  .button--grey:hover {
    background-color: var(--color-grey-20);
  }
}
@media (hover: none) {
  .button--grey:active {
    background-color: var(--color-grey-20);
  }
}
@media (width <= 1440.98px) {
  .button--grey {
    padding: 14px 16px;
  }
}

.section__header-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  padding: 120px 50px;
}
@media (width <= 1440.98px) {
  .section__header-inner {
    padding: 100px 50px;
  }
}
@media (width <= 1023.98px) {
  .section__header-inner {
    padding: 50px 16px;
  }
}
@media (width <= 767.98px) {
  .section__header-inner {
    row-gap: 6px;
  }
}
.section__header-title, .section__header-description {
  text-align: center;
}

.burger-button {
  width: 46px;
  height: 46px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-grey-15);
  border-radius: var(--border-radius-6);
  padding: 15px 10.25px;
  z-index: 2;
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.15em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  background-color: var(--color-green-80);
  border-radius: var(--border-radius-6);
  height: 2px;
  width: 100%;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  width: 55%;
  align-self: end;
}

.logo {
  flex-shrink: 0;
  z-index: 2;
}
@media (width <= 1440.98px) {
  .logo {
    max-width: 118px;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  padding: 50px;
  min-height: 577px;
  height: 100%;
  border: 1px solid var(--color-grey-15);
}
@media (width <= 1440.98px) {
  .service-card {
    padding: 40px;
    min-height: 510px;
  }
}
@media (width <= 1023.98px) {
  .service-card {
    min-height: 310px;
    padding: 30px;
  }
}
@media (width > 1023.98px) {
  .service-card__header {
    display: contents;
  }
}
@media (width <= 1023.98px) {
  .service-card__header {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }
  .service-card__header:not(:last-child) {
    margin-bottom: 24px;
  }
}
.service-card__image:not(:last-child) {
  margin-bottom: 40px;
}
@media (width <= 1440.98px) {
  .service-card__image {
    width: 70px;
    height: 70px;
  }
}
@media (width <= 480.98px) {
  .service-card__image {
    width: 58px;
    height: 58px;
  }
}
@media (width <= 1023.98px) {
  .service-card__image:not(:last-child) {
    margin-bottom: 0;
  }
}
.service-card__title {
  margin-bottom: 20px;
}
@media (width <= 1440.98px) {
  .service-card__title {
    margin-bottom: 14px;
  }
}
@media (width <= 1023.98px) {
  .service-card__title {
    margin-bottom: 0;
  }
}
.service-card__description {
  font-size: clamp(14px, 1.0025062657vw, 16px);
  flex: 1 1 auto;
}
.service-card__description:not(:last-child) {
  margin-bottom: 24px;
}
.service-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.choose-card {
  padding: 80px;
  min-height: 380px;
  height: 100%;
  border: 1px solid var(--color-grey-15);
}
@media (width <= 1440.98px) {
  .choose-card {
    padding: 60px;
    min-height: 230px;
  }
}
@media (width <= 1023.98px) {
  .choose-card {
    padding: 30px;
  }
}
.choose-card__header {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.choose-card__header:not(:last-child) {
  margin-bottom: 40px;
}
@media (width <= 1440.98px) {
  .choose-card__header {
    column-gap: 14px;
  }
  .choose-card__header:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (width <= 1440.98px) {
  .choose-card__image {
    width: 70px;
    height: 70px;
  }
}
@media (width <= 480.98px) {
  .choose-card__image {
    width: 58px;
    height: 58px;
  }
}
.choose-card__description {
  font-size: clamp(14px, 1.2531328321vw, 20px);
}

.client-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 532px;
  padding: 100px 80px;
  border: 1px solid var(--color-grey-15);
}
@media (width <= 1440.98px) {
  .client-card {
    min-height: 420px;
    padding: 80px 60px;
  }
}
@media (width <= 1200.98px) {
  .client-card {
    min-height: 356px;
    padding: 60px 40px;
  }
}
@media (width <= 1023.98px) {
  .client-card {
    min-height: 356px;
    padding: 40px 24px;
  }
}
.client-card__title:not(:last-child) {
  margin-bottom: 24px;
}
@media (width <= 1440.98px) {
  .client-card__title {
    margin-bottom: 20px;
  }
}
.client-card__body {
  flex: 1 1 auto;
}
.client-card__body:not(:last-child) {
  margin-bottom: 40px;
}
@media (width <= 1440.98px) {
  .client-card__body:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (width <= 1023.98px) {
  .client-card__body:not(:last-child) {
    margin-bottom: 20px;
  }
}
.client-card__footer {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(36, 36, 36, 0.2);
  border: 1px solid var(--color-grey-15);
  border-radius: 8px;
}
@media (width <= 1440.98px) {
  .client-card__footer-image {
    width: 50px;
    height: 50px;
  }
}
@media (width <= 480.98px) {
  .client-card__footer-image {
    width: 40px;
    height: 40px;
  }
}
.client-card__footer-body {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0px 18px;
}
.client-card__footer-name {
  font-size: clamp(16px, 1.2531328321vw, 20px);
  color: var(--color-white);
  font-weight: 500;
  font-style: normal;
}
.client-card__footer-company {
  white-space: nowrap;
}
.client-card__footer-link {
  margin-left: auto;
}
@media (width <= 480.98px) {
  .client-card__footer-link {
    display: none;
  }
}

.header {
  border-bottom: 1px solid var(--color-grey-15);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  column-gap: 40px;
}
@media (width <= 1023.98px) {
  .header__inner {
    column-gap: 20px;
  }
}
.header__overlay {
  transition-duration: var(--transition-duration);
}
@media (width > 767.98px) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 767.98px) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    background-color: var(--color-grey-10);
  }
}
@media (width <= 767.98px) {
  .header__overlay:not(.is-visible) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu {
  overflow-y: auto;
}
@media (width <= 767.98px) {
  .header__menu-list {
    display: flex;
    flex-direction: column;
  }
}
@media (width <= 767.98px) {
  .header__menu-link {
    padding: 10px 28px;
    font-size: 28px;
  }
}
@media (width <= 767.98px) {
  .header__contact-link {
    padding: 16px 36px;
    font-size: 22px;
  }
}

@media (width <= 767.98px) {
  .nav-menu {
    margin-bottom: 32px;
  }
}
.nav-menu__list {
  display: flex;
  column-gap: 2px;
}
@media (width <= 767.98px) {
  .nav-menu__list {
    align-items: center;
  }
}
.nav-menu__link {
  display: inline-flex;
  align-items: center;
  padding: 14px 28px;
}
@media (hover: hover) {
  .nav-menu__link:hover {
    color: var(--color-green-50);
  }
}
@media (hover: none) {
  .nav-menu__link:active {
    color: var(--color-green-50);
  }
}
@media (width <= 1440.98px) {
  .nav-menu__link {
    padding: 12px 22px;
  }
}
@media (width <= 1023.98px) {
  .nav-menu__link {
    padding: 12px 16px;
  }
}
@media (width <= 767.98px) {
  .nav-menu__link {
    padding: 10px 28px;
  }
}
.nav-menu__link.is-active {
  pointer-events: none;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-grey-15);
  border-radius: var(--border-radius-8);
}

.content-main {
  border-left: 1px solid var(--color-grey-15);
  border-right: 1px solid var(--color-grey-15);
}

.hero {
  position: relative;
  background: url("../../assets/images/backgrounds/dotted-bg.webp") center/cover no-repeat;
  padding-top: 112px;
  padding-bottom: 274px;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 448px;
  bottom: 0;
  left: 0;
  z-index: -2;
  background: url("../../assets/images/abstract-mountain.webp") center/cover no-repeat;
}
@media (width <= 767.98px) {
  .hero {
    padding-bottom: 205px;
  }
}
@media (width <= 1440.98px) {
  .hero {
    padding-top: 80px;
  }
}
.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 7px;
}
.hero__title {
  text-align: center;
}
.hero__title:not(:last-child) {
  margin-bottom: 40px;
}
@media (width <= 1440.98px) {
  .hero__title:not(:last-child) {
    margin-bottom: 30px;
  }
}
.hero__info {
  font-size: clamp(16px, 1.3784461153vw, 22px);
  display: inline-block;
  border: 1px solid var(--color-grey-15);
  border-radius: var(--border-radius-12);
  padding: 1.09em 1.81em;
  color: var(--color-grey-60);
}
.hero__info:not(:last-child) {
  margin-bottom: 50px;
}
@media (width <= 1440.98px) {
  .hero__info:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (width <= 767.98px) {
  .hero__info {
    text-align: center;
    padding: 18px 20px;
  }
}
.hero__info-accent {
  background-color: var(--color-grey-15);
  border-radius: var(--border-radius-8);
  padding: 12px 14px;
  color: var(--color-white);
}
@media (width <= 767.98px) {
  .hero__info-accent {
    background-color: unset;
    border-radius: 0;
    padding: 0;
    color: inherit;
    text-align: center;
  }
}
.hero__actions {
  display: flex;
  column-gap: 13px;
}
@media (hover: hover) {
  .hero__works-link:hover {
    background: rgba(17, 17, 17, 0.2);
  }
}
@media (hover: none) {
  .hero__works-link:active {
    background: rgba(17, 17, 17, 0.2);
  }
}
.hero__works-link {
  border: 1px solid var(--color-grey-20);
}

.companies {
  position: relative;
  border-top: 1px solid var(--color-grey-15);
  border-bottom: 1px solid var(--color-grey-15);
}
.companies__count {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border: 1px solid var(--color-grey-15);
  padding: 1.1em 1.8em;
  border-radius: 100px;
  font-weight: 500;
  color: var(--color-white-alternate);
  background-color: var(--color-grey-10);
  white-space: nowrap;
}
.companies__logo-list {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding-block: 40px;
}
@media (width <= 1023.98px) {
  .companies__logo-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    column-gap: 0;
    padding: 0;
  }
  .companies__logo-list > *:nth-child(-n+3) {
    min-height: 120px;
    padding-top: 20px;
  }
}
.companies__logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-height: 90px;
}
@media (width <= 1023.98px) {
  .companies__logo-item {
    width: 100%;
    border: 1px solid var(--color-grey-15);
    min-height: 100px;
  }
}
.companies__logo-image {
  flex-shrink: 0;
}
@media (width <= 1200.98px) {
  .companies__logo-image {
    width: 70%;
  }
}
@media (width <= 1023.98px) {
  .companies__logo-image {
    width: 50%;
  }
}
@media (width <= 767.98px) {
  .companies__logo-image {
    width: 70%;
  }
}
@media (width <= 480.98px) {
  .companies__logo-image {
    width: 80%;
  }
}

.services__header {
  background: url("../../assets/images/backgrounds/bg-1.webp") center/cover no-repeat;
}

.choose__header {
  background: url("../../assets/images/backgrounds/bg-2.webp") center/cover no-repeat;
}

.clients__header {
  background: url("../../assets/images/backgrounds/bg-3.webp") center/cover no-repeat;
}

.questions__header {
  background: url("../../assets/images/backgrounds/bg-4.webp") center/cover no-repeat;
}
.questions__body {
  position: relative;
  border-top: 1px solid var(--color-grey-15);
  border-bottom: 1px solid var(--color-grey-15);
  padding-block: 80px;
}
.questions__body::before {
  content: "";
  position: absolute;
  left: 49.99%;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--color-grey-15);
}
@media (width <= 1023.98px) {
  .questions__body::before {
    display: none;
  }
}
@media (width <= 1440.98px) {
  .questions__body {
    padding-block: 60px;
  }
}
@media (width <= 1023.98px) {
  .questions__body {
    padding-block: 0;
  }
}
.questions__list {
  counter-reset: custom-counter;
  list-style: none;
  column-count: 2;
  column-gap: 0;
}
@media (width <= 1023.98px) {
  .questions__list {
    column-count: 1;
  }
}
.questions__item {
  counter-increment: custom-counter;
  break-inside: avoid;
  page-break-inside: avoid;
}
@media (width <= 480.98px) {
  .questions__item:nth-child(-n+4) {
    display: none;
  }
}
.questions__card {
  display: flex;
  align-items: center;
  column-gap: 30px;
  min-height: 140px;
  border: 1px solid var(--color-grey-15);
  padding: 34px 50px;
}
@media (width <= 1440.98px) {
  .questions__card {
    padding: 30px 40px;
  }
}
@media (width <= 767.98px) {
  .questions__card {
    padding: 30px 24px;
    column-gap: 20px;
  }
}
.questions__card:has(.questions__accordion[open]) {
  align-items: start;
}
.questions__card:has(.questions__accordion[open]) .questions__counter::before {
  color: var(--color-green-70);
}
.questions__counter::before {
  font-size: clamp(20px, 1.7543859649vw, 28px);
  width: 80px;
  height: 80px;
  content: counter(custom-counter, decimal-leading-zero);
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
  padding: 20px;
  border-radius: var(--border-radius-12);
}
@media (width <= 1440.98px) {
  .questions__counter::before {
    width: 62px;
    height: 62px;
  }
}
@media (width <= 767.98px) {
  .questions__counter::before {
    width: 52px;
    height: 52px;
  }
}
.questions__accordion {
  width: 100%;
}
.questions__accordion[open] .questions__accordion-title {
  color: var(--color-green-70);
}
.questions__accordion[open] .questions__accordion-indicator {
  color: var(--color-green-70);
}
.questions__accordion[open] .questions__accordion-indicator-image {
  rotate: 45deg;
  transition-duration: 0.3s;
}
.questions__accordion-header {
  display: flex;
  align-items: center;
  column-gap: 32px;
  cursor: pointer;
}
@media (width <= 1440.98px) {
  .questions__accordion-header {
    column-gap: 20px;
  }
}
.questions__accordion-body {
  padding-top: 20px;
}
.questions__accordion-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
}
@media (width <= 1440.98px) {
  .questions__accordion-indicator-image {
    width: 15.6px;
    height: 15.6px;
  }
}

/*# sourceMappingURL=main.css.map */
